*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
.mainContainer{
margin: 0 6rem 0 6rem;
}

body{
font-family: 'League Spartan', sans-serif;
}

h1, h5 {
    color:hsl(300, 43%, 22%) ;
}
p{
    line-height: 20px;
}
.bannertext{
    font-size: 2rem;
    width: 25%;
}
.bannertext_service{
    margin:15px 0 0 0;
    color: hsl(303, 10%, 53%);
    width: 43%;
}
.one{
    width: 92%;
    margin-left: -3rem;
}
.two{
    width: 90%;
     margin-top: 0.7rem;
     margin-right: 4rem;
}
.three{
     margin-left: 2rem;
     margin-top: 0.7rem;
}
.ratingbgcolor{
    background-color: hsl(300, 24%, 96%);
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
}
.ratingreview{
    display: flex;
    padding: 0 0 0 5px;
    align-items: center;
    /* width: 89%; */
}
.ratingreviewer{
    padding: 0 0 0 10px;
}
.heroContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.herowrapper{
    display: flex;
    flex-direction: column;
}
.user1, .user2, .user3{
    background: hsl(300, 43%, 22%);
}
.user1{
    margin-top: 2rem;
}
.user2{
    margin-top: 3rem;
}
.user3{
    margin-top: 4rem;
}

.cardcontainer{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.cardwrapper{
    width: 30%;
    height:14rem;
    border-radius: 7px;
}
.usercontainer{
    display: flex;
    align-items: center;
    margin: 2rem 0 0 2rem;
}
.coltonimg, .ireneimg, .anneimg{
    border-radius: 50%;
    width: 11%;
    margin-right: 11px
}
.username{
    color: hsl(0, 0%, 100%);
    margin-bottom:0.4rem;
}
.usertitle{
color:hsl(333, 80%, 67%);
}
.userreview{
    color:  hsl(0, 0%, 100%);
    width: 19rem;
    margin: 1rem 0 0 2rem;
    line-height: 20px;
}
.attribution{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

@media screen and (max-width:375px){
    .mainContainer{
     margin: 0 1rem 0 1rem;
 }
 .heroContainer{
     display:flex;
     flex-wrap: wrap;
     margin-top: 3rem;
 }
 .bannertext{
    text-align: center;
    width: 80%;
    margin: 1rem 2rem 1rem 2rem;
 }
 .bannertext_service{
    text-align: center;
    width: 87%;
    margin: 0rem 1rem 1rem 1rem;
 }
 .rating {
    margin: 0rem 1rem;
 }
 .one, .two, .three{
     width: 100%;
     margin-left: 0;
 }
 .ratingreview {
    display: block;
    margin-left: 5rem;
    text-align: center;
    padding: 0.5rem 0rem;
}
 .cardcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 1rem 0 1rem;
}
.cardwrapper{
    width: 102%;
    height: 13rem;
}
.user2, .user3 {
    margin-top: 1rem;
}
.userreview {
    width: 16rem;
}
.attribution {
    font-size: 0.5rem;
}
} 
